{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" herf="{% static 'css/smcebi.css' %}">
        <link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
        <link rel="stylesheet" href="{% static 'css/leaflet-search.css' %}">
        <link rel="stylesheet" href="{% static 'css/qgis2web.css' %}">
        <style>
            html, body, #map {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }</style>
        <title>{{ title }}</title>
    </head>

    <body>
        {% block content %}
            {% block navbar %}
                {% include 'navbar.html' %}
            {% endblock navbar %}

        <div id="map"> </div>
        <script src="{% static 'js/leaflet.js' %}"></script>
        <script src="{% static 'js/leaflet.rotatedMarker.js' %}"></script>
        <script src="{% static 'js/leaflet.pattern.js' %}"></script>
        <script src="{% static 'js/leaflet-hash.js' %}"></script>
        <script src="{% static 'js/Autolinker.min.js' %}"></script>
        <script src="{% static 'js/rbush.min.js' %}"></script>
        <script src="{% static 'js/labelgun.min.js' %}"></script>
        <script src="{% static 'js/labels.js' %}"></script>
        <script src="{% static 'js/leaflet-search.js' %}"></script>
        <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js'></script>
        <script src="{% static "" %}data/{{ folder_name }}/baselayer.js"></script>
        <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
        <script>
            var highlightLayer;
            function highlightFeature(e) {
                highlightLayer = e.target;
                if (e.target.feature.geometry.type === 'Polygon') {
                    console.log("TAK, POKOJ!")
                highlightLayer.setStyle({
                    weight: 3,
                    color: '#123',
                    fillOpacity: '0.5',
                })
                if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                    highlightLayer.bringToFront();
                }
            }}
        </script>
        {% block map_init %}
        <script>
            var x1y1, x1y2, x2y1, x2y2;
            x1y1 = parseFloat("{{ x1y1 }}");
            x1y2 = parseFloat("{{ x1y2 }}");
            x2y1 = parseFloat("{{ x2y1 }}");
            x2y2 = parseFloat("{{ x2y2 }}");
            console.log(x1y1, x1y2, x2y1, x2y2);
            var map = L.map('map', {
                zoomControl:true,
                maxZoom:16,
                minZoom:14,
            }).fitBounds([
                [x1y1, x1y2],
                [x2y1, x2y2]])
            var bounds_group = new L.featureGroup([]);
            var layerOrder = new Array();

        </script>
        {% endblock map_init %}

        <script>
            function setBounds() {
            }
            var hash = new L.Hash(map);
            map.attributionControl.addAttribution('<a href="https://github.com/tomchadwin/qgis2web" target="_blank">qgis2web</a>');
        </script>
    {% block load_rooms %}
        {% include 'load_rooms.html' %}
    {% endblock load_rooms %}

    {% block load_employee %}
        {% include 'load_employee.html' %}
    {% endblock load_employee %}
    <script>
    {% block load_baselayer %}
        function style_baselayer() {
            return {
                pane: 'pane_baselayer',
                opacity: 1,
                color: 'rgba(80,80,80,1.0)',
                lineCap: 'square',
                lineJoin: 'bevel',
                weight: 1.0,
                fillOpacity: 1,
            }
        };
        map.createPane('pane_baselayer');
        map.getPane('pane_baselayer').style.zIndex = 400;
        map.getPane('pane_baselayer').style['mix-blend-mode'] = 'normal';
        var layer_baselayer = new L.geoJson(json_baselayer, {
            attribution: '<a href=""></a>',
            pane: 'pane_baselayer',
            style: style_baselayer,
        });
        bounds_group.addLayer(layer_baselayer);
        layerOrder.push(layer_baselayer);
        map.addLayer(layer_baselayer);

        load_employees(map, bounds_group)
        load_rooms(map, bounds_group)

    {% endblock load_baselayer %}

        function restackLayers() {
            for (index=0; index < layerOrder.length; index ++) {
                layerOrder[index].bringToFront();
            }
        }

        function stackLayers() {
            for (index = 0; index < layerOrder.length; index++) {
                map.removeLayer(layerOrder[index]);
                map.addLayer(layerOrder[index]);
            }
        }

        map.on('overlayadd', restackLayers);

        // <style>
            // .legend {
            //     line-height: 18px;
            //     color: #555;
            // }
            // .legend i{
            //     width: 18px;
            //     height: 18px;
            //     float: left;
            //     margin-right: 8px;
            //     opacity: 0.7;
            // }
            // </style>
            var legend = L.control({position: 'bottomright'});
            legend.onAdd = function(map) {
                var div = L.DomUtil.create('div', 'info legend');
                var colors = [
                    '#b5df97', '#f09986', '#f59053', '#fdbe73',
                    '#fede99', '#ffffbf', '#ddefcf', '#bce143',
                    '#91c6de', '#5ea0ca'];
                var wings = [
                    'A', 'B', 'C', 'D', 'E', 'F',
                    'G', 'H', 'P', 'S'];
                for (var i = 0; i < colors.length; i ++){
                    div.innerHTML +=
                        '<i style="background:' + colors[i] + '"></i>' + 'Wing ' + wings[i] + '<br>';
                }
            }
            legend.addTo(map);

        // Create legend part
        var baseMaps = {};
        // L.control.layers({}, {'<img src={% static  "legend/baselayer.png"%} /> employees': layer_employees}).addTo(map);
        // L.control.layers(baseMaps,{'<img src={% static  "legend/employee.png"%} /> employees': layer_employees,'<img src="legend/baselayer_1.png" /> baselayer': layer_baselayer,'<img src="legend/rooms_0.png" /> rooms': layer_rooms}).addTo(map);
        </script>
{% endblock content %}
    </body>
</html>
