{% extends "index.html" %}
{% block css %}
<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
<style>

html,
body {
    background: #777
}
.site-main.row {
    margin: 0
}
.header {
    background: #C5E0DC
}
.primary-col,.secondary-col {
    background-color: #ddd;
    padding:10px;
}
.navbar {
    margin: 0 0 10px 0
}
.inner {
  min-height:100%;
  background:#fff;
  border:1px solid #ccc;
}

/* needed to override jQuery */
@media (max-width:767px) { 
	.primary-col,
	.secondary-col {
	    height: auto!important
	}
	.site-main {
	    padding-bottom: 0px!important
	}
}

/* larger viewport layout */
@media (min-width:768px) { 
	html,
	body {
	    height: 100%;
	    width: 100%;
	}
	#page {
	    height: 100%;
	    height: auto !important;
	    min-height: 100%;
	}
	.site-main {
	    height: 100%;
        padding:0 10px;
	}
	.secondary-col {
	    border-right: 10px solid #777
	}
}

</style>
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
{% endblock css %}



{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
    </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Lowerground floor</a></li>
            <li><a href="#">Ground floor</a></li>
            <li><a href="#">First floor</a></li>
            <li><a href="#">Second floor</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Select <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Room</a></li>
                    <li><a href="#">Employee</a></li>
                </ul>
            </li>
            <li>
                <div class="col-md-12 col-md-12">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Choose search type.." name="q">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>

      {% endblock %}