<html
    ><head><script src='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
        
    </head>
    <body>

            <div id='map' style='width: 400px; height: 300px;'></div>
            <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoibmY0ciIsImEiOiJjamR1c2wxdTMxY3UwMnFsbG1jMnFhYnYyIn0.JZQAQ8oPxGtotAWyKxO1Vg';
            var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v10'
            });
            </script>
    </body>
</html>