<nav class="navbar navbar-inverse" style="border-bottom: 4px solid; color: #47964c; margin-bottom: 0px;">
    <div class="container-fluid">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
          <a class="navbar-brand" href="main_index.php"><img src="inc/pamak-map2.png" alt="pamak-map" height="45" width="70" style="margin-top:-18%" /></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
          <form class="navbar-form navbar-right" role="search">
              <div class="form-group col-lg-2">
                  <div id="search"></div> 
              </div>
          </form>
      <ul class="nav navbar-nav">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">2ος ΟΡΟΦΟΣ<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="2ndfloorGD.php">ΚΤΙΡΙΟ ΓΔ</a></li>
            <li><a href="2ndfloorHU.php">ΚΤΙΡΙΟ ΗΘ</a></li>
            <li><a href="2ndfloorKZ.php">ΚΤΙΡΙΟ ΚΖ</a></li>
            <li><a href="2ndfloorE.php">ΚΤΙΡΙΟ Ε</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">3ος ΟΡΟΦΟΣ<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="3rdfloorGD.php">ΚΤΙΡΙΟ ΓΔ</a></li>
            <li><a href="3rdfloorHU.php">ΚΤΙΡΙΟ ΗΘ</a></li>
            <li><a href="3rdfloorKZ.php">ΚΤΙΡΙΟ ΚΖ</a></li>
            <li><a href="3rdfloorE.php">ΚΤΙΡΙΟ Ε</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">4ος ΟΡΟΦΟΣ<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="4thfloorGD.php">ΚΤΙΡΙΟ ΓΔ</a></li>
            <li><a href="4thfloorHU.php">ΚΤΙΡΙΟ ΗΘ</a></li>
            <li><a href="4thfloorKZ.php">ΚΤΙΡΙΟ ΚΖ</a></li>		        
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">5ος ΟΡΟΦΟΣ<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="5thfloorGD.php">ΚΤΙΡΙΟ ΓΔ</a></li>
          </ul>
        </li>
      </ul>
    </div>
    </div>
  </nav>