html,
body {
    background: #777
}
.site-main.row {
    margin: 0
}
.header {
    background: #C5E0DC
}
.primary-col,.secondary-col {
    background-color: #ddd;
    padding:10px;
}
.navbar {
    margin: 0 0 10px 0
}
.inner {
  min-height:100%;
  background:#fff;
  border:1px solid #ccc;
}

/* needed to override jQuery */
@media (max-width:767px) { 
	.primary-col,
	.secondary-col {
	    height: auto!important
	}
	.site-main {
	    padding-bottom: 0px!important
	}
}

/* larger viewport layout */
@media (min-width:768px) {
	html,
	body {
	    height: 100%;
	    width: 100%;
	}
	#page {
	    height: 100%;
	    height: auto !important;
	    min-height: 100%;
	}
	.site-main {
	    height: 100%;
        padding:0 10px;
	}
	.secondary-col {
	    border-right: 10px solid #777
	}
}


